section.header
  div.container
    div.row
      div.four.columns
        h3 BOXLY
      div.twelve.columns
        ul
          li
            i.fi-torsos-all
            span Clients
          li
            i.fi-eye
            span Sitters
          li
            i.fi-torso
            span Admin
          li
            i.fi-graph-bar
            span Reports
          li
            i.fi-star
            span Functions
          li
            i.fi-key
            span Keys
          li
            i.fi-clipboard
            span Accounting
          li
            i.fi-torsos
            span New Client
          li
            i.fi-alert
            span Alerts

div.container.content
  div.row
    div.four.columns.block
      section.block-content
        i.fi-widget.pull-right
        img.avatar.block-center(src="https://s3.amazonaws.com/uifaces/faces/twitter/dannpetty/128.jpg")
        section.push-top-sm.hr
          h4.text-center Matthew Reichardt
        section.user-details.push-top-sm
          ul
            li
              i.fi-star
              span Founder
            li
              i.fi-marker
              span St. Louis, MO
            
      section.block-content
        i.fi-alert.pull-right
        h5.text-left.hr Alerts
        section.user-alerts.push-top-sm
          ul
            li
              i.fi-alert.red
              span Upcoming appointment
            li
              i.fi-alert.red
              span Lorem ipsum dolar
            li
              i.fi-alert.red
              span Some random alert
            li
              i.fi-alert.red
              span This design is slick!
            
      section.block-content
        i.fi-clipboard.pull-right
        h5.text-left.hr Completed Alerts
        section.user-alerts.push-top-sm
          ul
            li
              i.fi-check.green
              span Upcoming appointment
            li
              i.fi-check.green
              span Lorem ipsum dolar
            li
              i.fi-check.green
              span Some random alert
            li
              i.fi-check.green
              span This design is slick!
              
      section.block-content
        h5.text-left.hr Completed Jobs
        section.user-alerts.push-top-sm
          ul
            li
              i.fi-check.green
              span 3 jobs complete
            li
              i.fi-alert.red
              span 7 uncompleted jobs
              
            
    div.four.columns.block
      section.block-content
        div.row
          h5.text-left.hr Staff Online
          section.staff.hr-dotted
            img.avatar.block-center(src="https://s3.amazonaws.com/uifaces/faces/twitter/dannpetty/128.jpg")
            div.staff-name Grant Burns
            div.text-center
              i.fi-power.green
            div.online.text-center.green Active
            
        div.row
          section.staff
            img.avatar.block-center(src="https://s3.amazonaws.com/uifaces/faces/twitter/dannpetty/128.jpg")
            div.staff-name Grant Burns
            div.text-center
              i.fi-power.green
            div.online.text-center.green Active
            
    // Calender Section
    div.four.columns.block
      section.block-content
        div.row
          h5.text-left.hr Calendar
          section.calendar
            h3.day 28
            div.extend-day
              p Sunday
              p.pull December/2014
            div.toggle-month
              h3 <
              h3 >
          section.cal-alerts.push-top-sm
            ul
              li
                i.fi-alert.red
                span Upcoming appointment
              li
                i.fi-alert.red
                span Lorem ipsum dolar
              li
                i.fi-alert.red
                span Some random alert
              li
                i.fi-alert.red
                span This design is slick!

    // Schedule Requests Section
    // Calender Section
    div.four.columns.block
      section.block-content
        h5.text-left.hr Schedule Requests
        section.user-alerts.push-top-sm
          ul
            li.sched-request
              i.fi-compass.pull-left
              div.pull-left
                i Meet the team
                br
                p.sub-heading T-Rex St Loius
            li.sched-request
              i.fi-compass.pull-left
              div.pull-left
                i Build Initial Specs
                br
                p.sub-heading T-Rex St Loius
            li.sched-request
              i.fi-compass.pull-left
              div.pull-left
                i Design User Board
                br
                p.sub-heading Remote
    
    div.twelve.columns.block
      section.block-content.revenue-icon
        i.fi-dollar.pull-right
        h5.text-left.hr Revenue
        div.row
          div.four.columns.user-alerts.revenue.push-top-sm.block
            h6 
              strong Daily
            h2.pull-left $2.089
            span.pull-left
              h4 .00
            div.commission.pull-left COMMISSION: 1,000.00
            div.percent.down 2.7%
          
          div.four.columns.user-alerts.revenue.push-top-sm.block
            h6 
              strong Monthly
            h2.pull-left $27.125
            span.pull-left
              h4 .00
            div.commission.pull-left COMMISSION: 16,000.00
            div.percent.up 1.5%
            
          div.four.columns.user-alerts.push-top-sm.block.revenue
            h6 
              strong Yesterday
            h2.pull-left $86.079
            span.pull-left
              h4 .86
            div.commission.pull-left COMMISSION: 16,000.00
            div.percent.up 3.1%
            
    div.eight.columns.block
      section.block-content
        div.row
          h5.text-left.hr Arivals | Departures
          
    div.four.columns.block
      section.block-content
        div.row
          h5.text-left.hr Late Timeframes
          
    //Logins Section
    div.row
      div.four.columns.block
        section.block-content.user-details
          div.row
            h5.text-left.hr Current Login's [STAFF]
            ul.push-top-sm
              li
                i.fi-torso.green
                span Matthew Reichardt
              li
                i.fi-torso.green
                span Grant Burns
              li
                i.fi-torso.yellow
                span Lorem Ipsum
              li
                i.fi-torso.green
                span Ipsum Lorem

      div.four.columns.block
        section.block-content
          div.row
            h5.text-left.hr Clients
            
      div.four.columns.block
        section.block-content.no-pad-bottom
          div.row
            h5.text-left.hr Daily Cancellations
            h6.cancellation 
              strong Today
            div.cancellation-count 8
          div.cancellations
            ul
              li Week
              li Month
              li Total
            ul.big
              li 3
              li(style="margin-left:21px;") 32
              li 57